* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  height: 20vh;
  color: white;
  font-size: 2rem;
}
section {
  width: 400px;
}

.container {
  background-color: black;
  width: 400px;
}

.btn {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}
